<div class="container">
    <div class="col-md-12 col-sm-12 page-header">
        {{ 'in_otaniemi' | i18n }} {{ 'weekday_' + weekDay | i18n | lowercase }}
    </div>
</div>

<div id="menuContainer" class="container">
	<div class="row restaurant-row" ng-repeat="restaurantRow in restaurantGrid[weekDay]">
		<restaurant ng-repeat="restaurant in restaurantRow" restaurant="restaurant" week-day="weekDay" width-class="widthClass" week-day-change-process="weekDayChangeProcess" restaurants-emptied="restaurantsEmptied"></restaurant>
        <restaurant-place-holder ng-if="restaurantRow.length < columns - 2"></restaurant-place-holder>
        <restaurant-place-holder ng-if="restaurantRow.length < columns - 1"></restaurant-place-holder>
        <restaurant-place-holder ng-if="restaurantRow.length < columns"></restaurant-place-holder>
	</div>
</div>

<div ui-view autoscroll="false"></div>