
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-hide="currentUser.appUser">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="languages" ng-if="widthClass == 'xs'">
                <div class="language" ng-show="currentUser.language != 'fi'" ng-click="changeLanguage('fi')">
                    <i class="glyphicon glyphicon-refresh saving-icon" ng-show="languageChangeProcess"></i>
                    <span ng-hide="languageChangeProcess">FI</span>
                </div>
                <div class="language" ng-show="currentUser.language != 'en'" ng-click="changeLanguage('en')">
                    <i class="glyphicon glyphicon-refresh saving-icon" ng-show="languageChangeProcess"></i>
                    <span ng-hide="languageChangeProcess">EN</span>
                </div>
            </div>
            <a class="navbar-brand" ng-click="changeDay(today)" href="">Mealbookers</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: weekDay == today}" ng-click="changeDay(today)"><a>{{ 'today' | i18n }}</a></li>
                <li ng-if="tomorrow <= maxDay" ng-class="{active: weekDay == tomorrow}" ng-click="changeDay(tomorrow)"><a>{{ 'tomorrow' | i18n }}</a></li>
                <li ng-repeat="day in remainingDays" ng-click="changeDay(day)" ng-class="{active: weekDay == day, 'hidden-sm': $index >= 1, 'hidden-md': $index >= 3}">
                    <a>{{ 'weekday_' + day | i18n }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="currentUser.role == 'guest'"><a ui-sref="Navigation.Menu.Register" ng-click="hideNavbarCollapse()">{{ 'register' | i18n}}</a></li> 
                <li ng-show="currentUser.role == 'guest'"><a ui-sref="Navigation.Menu.Login" ng-click="hideNavbarCollapse()" id="log-in-link">{{ 'log_in' | i18n}}</a></li>
                <li ng-show ="currentUser.role != 'guest'" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {{ currentUser.name }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="openAccountSettings()" ng-click="hideNavbarCollapse()">
                                <i class="glyphicon glyphicon-chevron-right" ng-show="widthClass == 'xs'"></i>
                                {{ 'account_settings' | i18n }}
                            </a>
                        </li>
                        <li>
                            <a ng-click="openGroupSettings()" ng-click="hideNavbarCollapse()">
                                <i class="glyphicon glyphicon-chevron-right" ng-show="widthClass == 'xs'"></i>
                                {{ 'group_settings' | i18n }}
                            </a>
                        </li>
                        <li ng-show ="currentUser.role == 'admin'">
                            <a ui-sref="Navigation.Menu.UserManagement" ng-click="hideNavbarCollapse()">
                                <i class="glyphicon glyphicon-chevron-right" ng-show="widthClass == 'xs'"></i>
                                {{ 'user_management' | i18n }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-show="currentUser.role != 'guest'">
                    <a ng-click="logOut(true); hideNavbarCollapse();">
                        <i class="glyphicon glyphicon-refresh saving-icon" ng-show="logoutProcess"></i> &nbsp;
                        {{ 'log_out' | i18n }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--/.nav-collapse -->
<div id="main-alert-container">
    <div class="alert main-alert {{ alertMessage.type }}" ng-click="dismissAlert()" ng-if="alertMessage.message.length">
        <i class="glyphicon" ng-class="{'glyphicon-ok': alertMessage.type == 'alert-success', 'glyphicon-exclamation-sign': alertMessage.type == 'alert-warning', 'glyphicon-warning-sign': alertMessage.type == 'alert-danger', 'glyphicon-bell': alertMessage.type == 'alert-info'}"></i>&nbsp;&nbsp;{{ alertMessage.message }}
        <div class="close">&times;</div>
    </div>
</div>

<div ui-view id="content" ng-class="{appUser: currentUser.appUser}"></div>

<div id="footer" ng-class="{appUser: currentUser.appUser}">
    <div class="container">
        <ul>
            <li ng-if="!currentUser.appUser"><a href="https://play.google.com/store/apps/details?id=fi.datahiiri.mealbookers"><i class="fa fa-android"></i> {{ 'download_android_app' | i18n }}</a></li>
            <li><a href ui-sref="Navigation.Menu.Contact"><i class="fa fa-user"></i> {{ 'contact' | i18n }}</a></li>
            <li><a href ui-sref="Navigation.Menu.TermsOfUse"><i class="glyphicon glyphicon-book"></i> {{ 'terms_of_use' | i18n }}</a></li>
        </ul>
    </div>
</div>