<div class="col-md-3 col-sm-6 restaurant" ng-hide="!restaurant.mealList[weekDay].length">
    <div class="restaurant-thumbnail" id="restaurant_{{ restaurant.id }}_thumbnail">
        <h3 class="restaurant-name" style="text-align: center;">{{ restaurant.name }}</h3>
        <div class="suggestion" ng-click="openSuggestion(restaurant)" title="{{ 'suggest_eating_time' | i18n }}">
            <i class="glyphicon glyphicon-plus"></i>
        </div>
        <div class="suggestion-list" ng-if="restaurant.suggestionList[weekDay].length">
            <div ng-repeat="suggestion in restaurant.suggestionList[weekDay]">
                <span class="suggestion-time">{{ suggestion.time }}</span>
                <span ng-repeat="member in suggestion.members" ng-class="{'suggestion-creator': suggestion.creator.id == member.id}" class="suggestion-member" title="{{ member.name }}"> {{ member.initials }} </span>
            </div>
            <hr class="featurette-divider meal-divider">
        </div>
        <!-- <button ng-click="suggest(restaurant)">{{ 'suggest' | i18n }}</button> -->
        <div ng-repeat="meal in restaurant.mealList[weekDay]" class="meal">
            <div class="meal-left">
                <span ng-if="meal.section" class="meal-section">{{ meal.section | i18n }}</span>
                <span ng-bind-html="meal.name | mealRow" class="meal-name"></span>
            </div>
            <div class="meal-plus-one" ng-class="{'meal-plus-one-popular': meal.plus_ones}" ng-click="addPlusOne(restaurant.id, meal.id)">+{{ meal.plus_ones }}</div>
            <hr ng-if="$index < restaurant.mealList[weekDay].length - 1" class="featurette-divider meal-divider">
        </div>
    </div>
</div>