body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.expand_button {
    position: absolute;
    top: 0px;
    right: 10px;
    float: right;
    font-size: 17pt;
}

.thumbnail {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    transition: height 0.4s;
}

.thumbnail .caption {
    padding: 0 0 30px 0;
}

.thumbnail .caption h3.restaurant-name {
    margin: 0 0 5px 0;
}

.thumbnail .caption p {
    font-family: Verdana;
    font-size: 11px;
    margin: 0 0 3px 0;
}

.thumbnail .overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    cursor: pointer;
}

.thumbnail .overlay i {
    position: absolute;
    left: 44%;
    top: -40px;
    font-size: 40px;
}

.thumbnail .overlay_open i {
    opacity: 0.4;
    position: absolute;
    left: 44%;
    top: 20%;
    color: white;
    font-size: 40px;
}

.thumbnail .overlay_open:hover i {
    opacity: 1;
}

.thumbnail .overlay_open .overlay_sub {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    transition: opacity 0.4s;
    background-image: -ms-linear-gradient(top, transparent 0%, #6E7B8C 100%);
    background-image: -moz-linear-gradient(top, transparent 0%, #6E7B8C 100%);
    background-image: -o-linear-gradient(top, transparent 0%, #6E7B8C 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.6, transparent), color-stop(1, #6E7B8C));
    background-image: -webkit-linear-gradient(top, transparent 0%, #6E7B8C 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #6E7B8C 100%);
    cursor: pointer;
    z-index: 2;
}

.thumbnail .overlay_close .overlay_sub {
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
}

.thumbnail .overlay_close .overlay_long {
    opacity: 1;
}

.thumbnail .overlay_open {
    z-index: 2;
}

.thumbnail .overlay_open .overlay_long {
    opacity: 0;
}

.col-md-3 {
    padding-left: 7px;
    padding-right: 7px;
}

.menu_outer {
    position: relative;
}

.menu {
    position: relative;
}

.navbar-nav {
    cursor: pointer;
}

span.attribute-group {
    padding-left: 5px;
    display: inline-block;
}

span.attribute {
    /*background: #c0c0c0;*/
    font-size: 10px;
    text-transform: uppercase;
    overflow: hidden;
    /*display: inline-block;*/
    color: #c0c0c0;
    padding: 2px 0px;
    font-style: italic;
}

span.line-break {
    display: block;
    height: 0;
    width: 0;
}

.meal-section {
    font-weight: bold;
    display: block;
    text-decoration: underline;
}