<div class="container">
	<h1 class="col-md-12 col-sm-12">{{ 'in_otaniemi' | i18n }} {{ 'weekday_' + weekDay | i18n }}</h1>
</div>
<div class="container"><hr class="featurette-divider"></div>

<div id="menuContainer" class="container">
	<div class="row restaurant-row" ng-repeat="restaurantRow in restaurantRows">
		<restaurant ng-repeat="restaurant in restaurantRow" restaurant="restaurant" week-day="weekDay" width-class="widthClass" week-day-change-process="weekDayChangeProcess" restaurants-emptied="restaurantsEmptied"></restaurant>
	</div>
</div>