<!-- Suggestion Modal -->
<div class="modal fade" id="accountSettingsModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <a name="modal" />
            <form ng-submit="save()">
                <div class="modal-header">
                    <button type="button" id="closeSuggestion" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ currentUser.name }} - {{ 'account_settings' | i18n }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert" ng-class="generalSettingsMessage.type" ng-if="generalSettingsMessage.message.length">{{ generalSettingsMessage.message }}</div>
                    <div class="form-group">
                        <strong>{{ currentUser.email_address }}</strong>
                    </div>
                    <div class="form-group">
                        <label for="old_password">{{ 'account_old_password' | i18n }}</label>
                        <input class="form-control" type="password" name="old_password" ng-model="password.old" />
                    </div>
                    <div class="form-group">
                        <label for="new_password">{{ 'account_new_password' | i18n }}</label>
                        <input class="form-control" type="password" name="new_password" title="{{ 'account_password_criteria' | i18n }}" pattern=".{5,}" ng-model="password.new" />
                    </div>
                    <div class="form-group">
                        <label for="new_password_repeat">{{ 'account_new_password_repeat' | i18n }}</label>
                        <input class="form-control" type="password" name="new_password_repeat" ng-model="password.repeat" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger remove-account" ng-class="{visible: !removingAccount}" ng-click="removingAccount = true">{{ 'account_remove' | i18n }}</button>
                    <button type="button" class="btn btn-success remove-account" ng-class="{visible: removingAccount}" ng-click="removingAccount = false">{{ 'account_remove_cancel' | i18n }}</button>
                    <button type="button" class="btn btn-danger remove-account" ng-class="{visible: removingAccount}" ng-click="removeAccount()">{{ 'account_remove_ok' | i18n }}</button>
                    <input type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled" ng-value="submitButtonText" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel' | i18n }}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->