<div class="modal fade" id="account-settings-modal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="save()">
                <div class="modal-header">
                    <button type="button" id="closeSuggestion" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ user.name }} - {{ 'account_settings' | i18n }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert" ng-class="modalAlertMessage.type" ng-if="modalAlertMessage.message && modalAlertMessage.target == 'account-settings-modal'" ng-show="modalAlertMessage.message.length">{{ modalAlertMessage.message }}</div>

                    <!-- Account email -->
                    <div class="form-group">
                        <strong>{{ user.email_address }}</strong>
                    </div>

                    <!-- Name -->
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="first_name">{{ 'first_name' | i18n }}</label>
                            <input class="form-control" type="text" name="first_name" ng-model="user.first_name" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="first_name">{{ 'last_name' | i18n }}</label>
                            <input class="form-control" type="text" name="last_name" ng-model="user.last_name" required />
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <hr class="featurette-divider" />

                    <!-- Language -->
                    <h4>{{ 'account_language' | i18n }}</h4>
                    <span class="language-radio-container"><input type="radio" name="language" value="fi" ng-model="user.language" ng-change="updateLanguage()" ng-show="!languageSaveProcess || user.language == 'en'" /><i class="glyphicon glyphicon-refresh saving-icon" ng-show="user.language == 'fi' && languageSaveProcess"></i></span> {{ 'account_language_fi' | i18n }}<br />
                    <span class="language-radio-container"><input type="radio" name="language" value="en" ng-model="user.language" ng-change="updateLanguage()" ng-show="!languageSaveProcess || user.language == 'fi'" /><i class="glyphicon glyphicon-refresh saving-icon" ng-show="user.language == 'en' && languageSaveProcess"></i></span> {{ 'account_language_en' | i18n }}

                    <!-- Notification settings -->
                    <h4>{{ 'account_notification_settings' | i18n }}</h4>

                    <div ng-if="user.has_android_app">
                        <strong>{{ 'account_notification_primary_header' | i18n }}</strong><br />
                        <input type="radio" ng-model="user.suggestion_method" value="email" /> {{ 'account_notification_primary_email' | i18n }}<br />
                        <input type="radio" ng-model="user.suggestion_method" value="androidApp" /> {{ 'account_notification_primary_android_app' | i18n }}<br />
                    </div>

                    <strong>{{ 'account_notification_suggestion_header' | i18n }}</strong><br />
                    <input type="checkbox" ng-model="user.notification_settings.suggestion.received" /> {{ 'account_notification_suggestion_received' | i18n }}<br />
                    <input type="checkbox" ng-model="user.notification_settings.suggestion.accepted" /> {{ 'account_notification_suggestion_accepted' | i18n }}<br />
                    <input type="checkbox" ng-model="user.notification_settings.suggestion.left_alone" /> {{ 'account_notification_suggestion_left_alone' | i18n }}<br />
                    <input type="checkbox" ng-model="user.notification_settings.suggestion.deleted" /> {{ 'account_notification_suggestion_deleted' | i18n }}<br />
                    <strong>{{ 'account_notification_group_header' | i18n }}</strong><br />
                    <input type="checkbox" ng-model="user.notification_settings.group.memberships" /> {{ 'account_notification_group_memberships' | i18n }}

                    <hr class="featurette-divider">


                    <!-- Password change -->
                    <h4>{{ 'account_password_change' | i18n }}</h4>
                    <div class="form-group" ng-show="currentUser.role != 'admin'">
                        <label for="old_password">{{ 'account_old_password' | i18n }}</label>
                        <input class="form-control" type="password" name="old_password" ng-model="password.old" />
                    </div>
                    <div class="form-group">
                        <label for="new_password">{{ 'account_new_password' | i18n }}</label>
                        <input class="form-control" type="password" name="new_password" title="{{ 'password_criteria' | i18n }}" pattern=".{5,}" ng-model="password.new" />
                    </div>
                    <div class="form-group">
                        <label for="new_password_repeat">{{ 'account_new_password_repeat' | i18n }}</label>
                        <input class="form-control" type="password" name="new_password_repeat" ng-model="password.repeat" />
                    </div>

                    <!-- Account type -->
                    <div ng-show="currentUser.role == 'admin'">
                        <hr class="featurette-divider">
                        <h4>{{ 'account_type' | i18n }}</h4>
                        <input type="radio" name="role" value="normal" ng-model="user.role" ng-disabled="user.id == currentUser.id" /> {{ 'account_type_normal' | i18n }}<br />
                        <input type="radio" name="role" value="admin" ng-model="user.role" ng-disabled="user.id == currentUser.id" /> {{ 'account_type_admin' | i18n }}
                    </div>
                    
                    <div class="remove-account button-group" ng-if="widthClass == 'xs'">
                        <hr class="featurette-divider">
                        <h4>{{ 'account_removal' | i18n }}</h4>
                        <button type="button" class="btn btn-danger" ng-class="{visible: !removingAccount}" ng-click="removingAccount = true">{{ 'account_remove' | i18n }}</button>
                        <button type="button" class="btn btn-success" ng-class="{visible: removingAccount}" ng-click="removingAccount = false">{{ 'account_remove_cancel' | i18n }}</button>
                        <button type="button" class="btn btn-danger" ng-class="{visible: removingAccount}" ng-click="removeAccount()">{{ 'account_remove_ok' | i18n }}</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="remove-account" ng-if="widthClass != 'xs'">
                        <button type="button" class="btn btn-danger" ng-class="{visible: !removingAccount}" ng-click="removingAccount = true">{{ 'account_remove' | i18n }}</button>
                        <button type="button" class="btn btn-success" ng-class="{visible: removingAccount}" ng-click="removingAccount = false">{{ 'account_remove_cancel' | i18n }}</button>
                        <button type="button" class="btn btn-danger" ng-class="{visible: removingAccount}" ng-click="removeAccount()">{{ 'account_remove_ok' | i18n }}</button>
                    </div>

                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel' | i18n }}</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="saveProcess">
                        <i class="glyphicon glyphicon-refresh saving-icon" ng-show="saveProcess"></i>
                        {{ 'save_and_close' | i18n }}
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal