<!-- Suggestion Modal -->
<div class="modal fade" id="group-settings-modal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeSuggestion" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ user.name }} - {{ 'group_settings' | i18n }}</h4>
            </div>
            <div class="modal-body">
                <div class="alert" ng-class="modalAlertMessage.type" ng-if="modalAlertMessage.message && modalAlertMessage.target == 'group-settings-modal'" ng-show="modalAlertMessage.message.length">{{ modalAlertMessage.message }}</div>

                <!-- Groups -->
                <div ng-repeat="group in user.groupsWithMe" class="group well">
                    <!-- Group name edit -->
                    <h3 class="name" ng-show="!group.editNameProcess" ng-click="group.editNameProcess = true">{{ group.name }}
                        <i class="glyphicon glyphicon-edit button"></i>
                    </h3>
                    <form ng-submit="saveGroupName(group)">
                        <div class="input-group" ng-if="group.editNameProcess && widthClass != 'xs'">
                            <input type="text" class="form-control" ng-model="group.name" ng-disabled="group.editNameSaveProcess" maxlength="30" autofocus />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" ng-disabled="group.editNameSaveProcess">
                                    <i class="glyphicon glyphicon-refresh saving-icon" ng-show="group.editNameSaveProcess"></i>
                                    {{ 'save' | i18n }}
                                </button>
                                <button type="button" class="btn btn-default" ng-click="group.editNameProcess = false; group.editNameSaveProcess = false;">{{ 'cancel' | i18n }}</button>
                            </span>
                        </div>
                        <div ng-if="group.editNameProcess && widthClass == 'xs'">
                            <input type="text" class="form-control" ng-model="group.name" ng-disabled="group.editNameSaveProcess" maxlength="30" autofocus />
                            <div class="button-group pull-right">
                                <button type="submit" class="btn btn-default" ng-disabled="group.editNameSaveProcess">
                                    <i class="glyphicon glyphicon-refresh saving-icon" ng-show="group.editNameSaveProcess"></i>
                                    {{ 'save' | i18n }}
                                </button>
                                <button type="button" class="btn btn-default" ng-click="group.editNameProcess = false; group.editNameSaveProcess = false;">{{ 'cancel' | i18n }}</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                    <!-- Group members -->
                    <div ng-repeat="member in group.members" class="member">
                        <div class="clearfix"></div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-user icon"></i>
                            {{ member.name }}
                            <!-- Member delete -->
                            <i class="glyphicon glyphicon-remove button" ng-click="member.deleteOpened = true;" ng-show="!member.deleteOpened" title="{{ 'group_member_remove' | i18n }}"></i>
                        </div>
                        <div class="pull-left member-delete-button-group">
                            <button class="btn btn-success delete-confirm-button" ng-show="member.deleteOpened" ng-click="member.deleteOpened = false;" >{{ 'cancel' | i18n }}</button>
                            <button class="btn btn-danger delete-confirm-button" ng-show="member.deleteOpened" ng-disabled="member.deleteSaveProcess" ng-click="deleteGroupMember(group, member)">
                                <i class="glyphicon glyphicon-refresh saving-icon" ng-show="member.deleteSaveProcess"></i>
                                {{ 'delete' | i18n }}
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <!-- Invited members -->
                    <div ng-if="group.invitations" class="invitations">
                        <strong>{{ 'group_invitations' | i18n }}</strong>
                        <div ng-repeat="invitation in group.invitations" class="invitation">
                            <i class="glyphicon glyphicon-user icon"></i>
                            {{ invitation.email_address }}
                        </div>
                    </div>

                    <!-- Add member -->
                    <div ng-if="group.addMemberOpened">
                        <form ng-submit="addMemberToGroup(group)">
                            <div class="input-group" ng-if="widthClass != 'xs'">
                                <input type="email" class="form-control" placeholder="{{ 'email' | i18n }}" ng-model="group.newMemberEmail" ng-disabled="group.addMemberSaveProcess" required autofocus />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" ng-disabled="group.addMemberSaveProcess">
                                        <i class="glyphicon glyphicon-refresh saving-icon" ng-show="group.addMemberSaveProcess"></i>
                                        {{ 'group_invite_member' | i18n }}
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="closeAddMember(group)">{{ 'cancel' | i18n }}</button>
                                </span>
                            </div>
                            <div ng-if="widthClass == 'xs'">
                                <input type="email" class="form-control" placeholder="{{ 'email' | i18n }}" ng-model="group.newMemberEmail" ng-disabled="group.addMemberSaveProcess" required autofocus />
                                <div class="button-group pull-right">
                                    <button type="submit" class="btn btn-default" ng-disabled="group.addMemberSaveProcess">
                                        <i class="glyphicon glyphicon-refresh saving-icon" ng-show="group.addMemberSaveProcess"></i>
                                        {{ 'group_invite_member' | i18n }}
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="closeAddMember(group)">{{ 'cancel' | i18n }}</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    <div class="button-group">
                        <button type="button" class="btn btn-default" ng-show="!group.addMemberOpened" ng-click="openAddMember(group)">
                            <i class="glyphicon glyphicon-plus"></i> {{ 'group_invite_member' | i18n }}
                        </button>
                    </div>
                </div>

                <!-- Add group -->
                <button type="button" class="btn btn-default" ng-show="!newGroup.open" ng-click="openAddGroup()">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'group_create_new' | i18n }}
                </button>
                <div ng-if="newGroup.open" class="new-group">
                    <form ng-submit="addGroup()">
                        <div class="input-group" ng-if="widthClass != 'xs'">
                            <input type="text" class="form-control" placeholder="{{ 'group_name' | i18n }}" ng-model="newGroup.name" ng-disabled="newGroup.saving" maxlength="30" required autofocus />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" ng-disabled="newGroup.saving">
                                    <i class="glyphicon glyphicon-refresh saving-icon" ng-show="newGroup.saving"></i>
                                    {{ 'group_create_new' | i18n }}
                                </button>
                                <button type="button" class="btn btn-default" ng-click="closeAddGroup()">{{ 'cancel' | i18n }}</button>
                            </span>
                        </div>
                        <div ng-if="widthClass == 'xs'">
                            <input type="text" class="form-control" placeholder="{{ 'group_name' | i18n }}" ng-model="newGroup.name" ng-disabled="newGroup.saving" maxlength="30" required autofocus />
                            <div class="button-group pull-right">
                                <button type="submit" class="btn btn-default" ng-disabled="newGroup.saving">
                                    <i class="glyphicon glyphicon-refresh saving-icon" ng-show="newGroup.saving"></i>
                                    {{ 'group_create_new' | i18n }}
                                </button>
                                <button type="button" class="btn btn-default" ng-click="closeAddGroup()">{{ 'cancel' | i18n }}</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>

                <!-- Join group -->
                <button type="button" class="btn btn-default" ng-show="!joinGroupProcess" ng-click="openJoinGroup()">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'group_join' | i18n }}
                </button>
                <div ng-if="joinGroupProcess" class="join-group">
                    <form ng-submit="joinGroup()">
                        <div class="input-group" ng-if="widthClass != 'xs'">
                            <input type="text" class="form-control" placeholder="{{ 'group_invitation_code' | i18n }}" ng-model="invitationCode.text" ng-disabled="joinGroupSaveProcess" required autofocus />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" ng-disabled="joinGroupSaveProcess">
                                    <i class="glyphicon glyphicon-refresh saving-icon" ng-show="joinGroupSaveProcess"></i>
                                    {{ 'group_join' | i18n }}
                                </button>
                                <button type="button" class="btn btn-default" ng-click="closeJoinGroup()">{{ 'cancel' | i18n }}</button>
                            </span>
                        </div>
                        <div ng-if="widthClass == 'xs'">
                            <input type="text" class="form-control" placeholder="{{ 'group_invitation_code' | i18n }}" ng-model="invitationCode.text" ng-disabled="joinGroupSaveProcess" required autofocus />
                            <div class="button-group pull-right">
                                <button type="submit" class="btn btn-default" ng-disabled="joinGroupSaveProcess">
                                    <i class="glyphicon glyphicon-refresh saving-icon" ng-show="joinGroupSaveProcess"></i>
                                    {{ 'group_join' | i18n }}
                                </button>
                                <button type="button" class="btn btn-default" ng-click="closeJoinGroup()">{{ 'cancel' | i18n }}</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close' | i18n }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->