<!-- Forgot password Modal -->
<div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" ng-submit="processForm()">
            <div class="modal-content">
            <a name="login-modal" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'forgot_password_title' | i18n }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert" ng-class="modalAlertMessage.type" ng-if="modalAlertMessage.message" ng-show="modalAlertMessage.message.length">{{ modalAlertMessage.message }}</div>

                    <p>{{ 'forgot_password_we_send_a_new' | i18n }}</p>
                    <input type="email" required class="form-control" ng-model="forgot.email" ng-disabled="forgotPasswordSaveProcess" placeholder="{{ 'forgot_password_email_placeholder' | i18n }}" focus-on="modalOpened" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" ng-disabled="sendProcess">
                        <i class="glyphicon glyphicon-refresh saving-icon" ng-show="sendProcess"></i>
                        {{ 'forgot_password_send_password_request' | i18n }}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel' | i18n }}</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->